#title{
    background-color: #ff4c68;
}
h1{
    color: aliceblue;
}body{
    font-family:" montserrat" ;
    text-align: center;
}


#title{
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
    padding: 7% 15%;

}
h1{
    
font-family:" montserrat-black";
font-size: 3rem;
line-height: 1.5;
 
}
/*navigation bar*/
.navbar{
    padding: 0 18px;

}
.navbar-btand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
    
}
.nav-item{
    padding-top: 0px 18px ;
}
.nav-link{
    font-size: 1,2rem;
    font-family: "montserrat-light";
}
/*download buttons*/
.btn {
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position:absolute;
    z-index: -1;
}
/*feature section*/
#features  {
    padding: 7% 15%;
    background-color: #fff;
position: relative;
    z-index: 1;
}
.icon {
    color:#d54062 ;
    padding: 6px;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
.feature-box{
    text-align: center;
    padding: 4.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: #8f8f8f;
}




/* Testimonials*/
#testimonials  {
padding: 7% 15%;
color: whitesmoke;
background-color:#d54062 ;
text-align: center;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
.Testimonials-img{
    width: 10%;
    border-radius: 200%;
    margin: 35px;
}
#press{
    background-color:#d54062 ;
    text-align: center;
    padding: 3%;
    padding-bottom: 3%;
}
.active{
    
}

.PRESS-1{
    margin: 20px;
    
}
/*pricing section*/
#pricing{
    padding: 100px;
    text-align: center;
}
.price-col {
    padding: 3% 2%;
}
/*cta section*/
#cta{
    background-color: #ff4c68;
color: #fff;
padding: 7% 15%;
text-align: center;

}
.cta-heading{
    font-family:"montserrat-black" ;
    font-size: 3.5rem;
    line-height: 1.5;
}
/*footer section*/
#footer{
    padding: 7% 15%;
    text-align: center;
}
.b{
    margin: 4px;
}
@media(max-width: 1028px){
#title-imge{
 text-align: center;   


}
    .title-image {
position: static;
transform: rotate(0);
    
    }
}
 



























